server:
  port: 8086

spring:
  cloud:
    compatibility-verifier:
      enabled: false
  application:
    name: payment-service 
  datasource:
    url: jdbc:postgresql://localhost:5434/payment_db
    username: payment_user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/


